/* TODO: Add sitewide styles */
body {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: #222;
  font-size: 1.3rem;
  font-weight: 400;
}

p {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

form input {
  height: 2rem;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  padding: 0 .5rem;
  background-color: #E7F0FE;
  border: 2px solid #222;
  border-radius: .25rem;
}

.link-no-styling {
  text-decoration: none;
  color: #000;
}
